<h1>博客系统</h1>
<li><a href="/">Home</a></li>
<li><a href="<%= users_path %>">用户</a></li>
<li><a href="<%= blogs_path %>">博客</a></li>
<%= form_tag search_admin_users_path, method: "get" do %>
  <%= text_field_tag :username, value = params[:username] %>
  <%= submit_tag "搜索" %>
<% end -%>
<% if logged_in? %>
  <%= link_to "#{current_user.username}退出", sessions_path(session[:user_id]), method: 'delete' %>
<% else %>
  <%= link_to "登录", new_session_path %>
<% end -%>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end -%>
<body>
<!--yield 调用子模块了！！！-->
<%= yield %>
</body>


