<!DOCTYPE html>
<html>
<head>
  <title>博客系统</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<a href="/">返回首页面</a>
<body>
<!--yield 调用子模块了！！！-->
<%= yield %>
</body>
</html>


